In [1]:
import pandas as pd
from time import time
from sqlalchemy import create_engine

In [2]:
pd.__version__

'1.5.3'

---
# Read Data

In [14]:
# Specify nrows to read only 100 lines because file is too big and will take up memory space
df = pd.read_csv("yellow_tripdata_2021-01.csv", nrows=100)
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

---
### Cast date columns to datetime instead of string

In [8]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

---
### Create database connection

In [12]:
engine = create_engine("postgresql://root:root@localhost:5555/ny_taxi")
engine.connect()

---
### Generate DDL statement for creating postgres database table

In [13]:
# We have to pass engine object so that the DDL is created specifically for postgres
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" FLOAT(53),
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

---
### Batch the CSV file into 100,000 rows chunks

In [15]:
df_iter = pd.read_csv("yellow_tripdata_2021-01.csv", iterator=True, chunksize=100000)
df = next(df_iter)
print(len(df))
df.head()

100000

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [16]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

---
### Create table

In [17]:
# We get only the header, this will only create the table but wont insert any data
df.head(0).to_sql(con=engine, name='yellow_taxi_data', if_exists='replace')

0

---
### Insert rows into table

In [18]:
%time df.to_sql(con=engine, name='yellow_taxi_data', if_exists='append')

CPU times: total: 10.6 s
Wall time: 20.9 s

1000

---
### Iterate over the rest of batches and Insert

In [20]:
while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    
    df.to_sql(con=engine, name='yellow_taxi_data', if_exists='append')
    
    t_end = time()
    print("Inserted Another chunk... Took %.3f seconds" % (t_end - t_start))

Inserted Another chunk... Took 25.527 seconds
Inserted Another chunk... Took 24.648 seconds
Inserted Another chunk... Took 29.522 seconds
Inserted Another chunk... Took 24.815 seconds
Inserted Another chunk... Took 42.565 seconds
Inserted Another chunk... Took 25.940 seconds
Inserted Another chunk... Took 36.972 seconds
Inserted Another chunk... Took 23.393 seconds
Inserted Another chunk... Took 20.787 seconds
Inserted Another chunk... Took 21.309 seconds
Inserted Another chunk... Took 21.023 seconds

C:\Users\LapCell\AppData\Local\Temp\ipykernel_9564\2894322743.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Inserted Another chunk... Took 21.066 seconds
Inserted Another chunk... Took 12.160 seconds

StopIteration:

# Upload taxi-zone lookup

In [3]:
zone_df = pd.read_csv("taxi+_zone_lookup.csv")
engine = create_engine("postgresql://root:root@localhost:5555/ny_taxi")
engine.connect()
zone_df.to_sql(con=engine, name='zones', if_exists='append')

265